<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    <h3 class="title-5 m-b-35">Ordem de serviço</h3>
                    <div class="table-data__tool">
                        
                            <div  class="table-data__tool-right">
                            <a href="#" data-toggle="modal" data-target="#modalAppointment" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Add Ordem de serviço</a>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>Cod</th>
                                    <th>Descrição</th>
                                    <th>Data de início</th>
                                    <th>Data final</th>
                                    <th>Custo</th>
                                    <th>Prioridade</th>
                                    <th>Equipamento</th>
                                    <th>Técnicos</th>
                                    <th></th>
                                </tr>
                            </thead>
                           {{#if hasWorkOrder}} 
                            <tbody>
                               {{#each Workorders }} 

                                <tr class="tr-shadow">
                                    <td>{{this.Code}}</td>
                                    <td>{{this.Description}}</td>
                                    <td>{{this.StartDate}}</td>
                                    <td>{{this.EndDate}}</td>
                                    <td>{{this.Cost}}</td>
                                    <td {{#if this.med}} class="desc" {{/if}}><span {{#if this.high}}class="status--denied"{{/if}} {{#if this.low}}class="status--process" {{/if}}>{{this.Priority}}</span></td>
                                    <td> <img src="images/{{this.EquipmentImage}}" style="height: 50px; width:50px; border-radius: 50%;" > {{this.EquipmentName}} {{this.EquipmentCode}}</td>
                                    <td>  <img src="images/{{this.ClinicalEnginnerImage}}" style="height: 50px; width:50px; border-radius: 50%;" > {{this.ClinicalEnginner}}</td>
                                   
                                    <td>
                                       <div class="table-data-feature">
                                                <a href="/workOrder/edit/{{ this.Code }}" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                                <a href="/workOrder/delete/{{ this.Code }}" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>        

                                            </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                              {{/each}} 
                             </tbody>
                           {{/if}} 
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
                
        </div>
    </div>
</div>

<!-- POPUP-->
<div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-body">
            <form method="POST" action="/workOrder/add">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="login-logo">
                   
                    <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>
                </div>
                <div class="login-form">
                        <div class="form-group">
                            <label class=" form-control-label">Descrição</label>
                            <input type="text" required name="Description" placeholder=" Descrição  " class="form-control">
                        </div>
                       <div class="form-group">
                            <label class=" form-control-label">EquipamentoCod</label>
                                <select name="EquipmentCode"required id="select" class="form-control">
                                {{#each Equipments}}
                                    <option value="{{this.Code}}">{{this.Name}} {{this.Code}} {{this.DepartmentName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Tecnico Cod</label>
                           
                            <select name="ClinicalEngineerDSSN"required id="select" class="form-control">
                                {{#each Engineers}}
                                    <option value="{{this.DSSN}}">{{this.FName}}{{this.LName}} {{this.DSSN}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Data</label>
                            <input type="Date"  required name="StartDATE" placeholder="Insira a data de início" class="form-control">
                        </div>
                         <div class="form-group">
                            <label class=" form-control-label">Data Final</label>
                            <input type="Date"  required name="EndDATE" placeholder="Insira a data final" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Custo</label>
                            <input type="number" required name="Cost" placeholder="Digite o número" class="form-control">
                        </div>
                         <div class="form-group">
                                            <label class=" form-control-label">Prioridade</label>
                                            <select name="Priority"required id="select"  class="form-control" >
                                                <option value="Low">Baixa</option>
                                                <option value="Medium">Médio</option>
                                                <option value="High">Alto</option>
                                            </select>
                        </div>       
                        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">ADD</button>
                    </form>  
                </div>
            </form>
          </div>  
        </div>
    </div>     
</div>  
